#carousel {
    width: 700px;
    height: 500px;
    margin: 100px auto;
}

.slide {
    height: 80%;
    position: relative;
}

.gallery{
    height: 20%;
}

.gallery img{
    height: 60px;
    border-radius: 20px;
}

#carousel img{
    width: 100%;
}

#carousel .slide figure{
    height: 100%;
}

#carousel .slide img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#carousel .image-text{
    position: absolute;
    top: 50px;
    right: 50px;
    left: 50px;
    text-align: end;
    color: #fff;
    filter: drop-shadow(10px 10px 10px #000);
}

.slide .item{
    display: none;
}

.slide .item.active{
    display: block;
}

.gallery .item{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s linear;
}

.gallery .item.active{
    opacity: 1;
}

#carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    font-size: 32px;
    background-color: #fff;
    color: #000;
}

#prev {
    right: calc(100% + 50px);
}

#next {
    left: calc(100% + 50px);
}